In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("googleplaystore_user_reviews.csv")

In [3]:
df.sample()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
42698,"FUN Keyboard – Emoji Keyboard, Sticker,Theme &...",NaN,NaN,NaN,NaN

In [4]:
df.isna().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [5]:
df.sample(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
54011,Gmail,"After update latest version, always failed syn...",Negative,-0.15625,0.5625
56745,Google Play Movies & TV,NaN,NaN,NaN,NaN
30471,Credit Karma,NaN,NaN,NaN,NaN
16675,Bluebird by American Express,NaN,NaN,NaN,NaN
53857,Glide - Video Chat Messenger,NaN,NaN,NaN,NaN

In [6]:
df = df[~df.Sentiment.isna()]
df.isna().sum()

App                       0
Translated_Review         5
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [7]:
df.Sentiment.value_counts()

Positive    23998
Negative     8271
Neutral      5163
Name: Sentiment, dtype: int64

In [8]:
scores = df.Sentiment.map({"Positive":4,"Negative":-4,"Neutral":0})
df.Sentiment = scores

In [9]:
df.sample(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
26980,Clash Royale,This games matchmaking joke. Its supposed rand...,4,0.081818,0.657576
41954,EyeEm - Camera & Photo Filter,I waiting year photos premium getting single p...,-4,-0.190476,0.360317
26853,Clash Royale,This game fun something matchmaking. You fight...,-4,-0.100000,0.300000

In [10]:
df.sample(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
26542,Cisco Webex Meetings,"Its connecting meeting room sometimes, per kno...",4,0.208333,0.400000
23374,Candy Crush Jelly Saga,The graphics r awesome.controls great.n overal...,-4,-0.087879,0.284848
26645,Citi Mobile®,Only checking account cannot speak credit card...,4,0.012500,0.800000
26971,Clash Royale,Updated game block 2v2 matches bad player cond...,-4,-0.350000,0.441667
12634,Barbie Magical Fashion,This worst game I ever played. It fun want get...,-4,-0.145000,0.480000

In [11]:
df.drop(columns=['Translated_Review','Sentiment_Polarity','Sentiment_Subjectivity'],inplace=True)

In [12]:
df.sample(5)

                                                 App  Sentiment
64178                 Hotwire Hotel & Car Rental App          0
25322  CheapTickets – Hotels, Flights & Travel Deals          4
40596                                Equestria Girls          4
27869                                     Color Road          4
61042                           Hello Kitty Lunchbox          4

In [13]:
after_editing = df.groupby('App').mean().reset_index()
after_editing.sample(5)

                      App  Sentiment
120       Anthem Anywhere  -0.553846
537        Epocrates Plus   2.300000
728      Goal Live Scores   1.800000
703  GPS Status & Toolbox   2.628571
57        Account Manager  -0.848485

In [14]:
after_editing.sort_values(by='Sentiment',ascending=False)[:10]

                                                   App  Sentiment
439                           Daniel Tiger for Parents        4.0
755                                      Google Primer        4.0
321                                        Caller ID +        4.0
440                                   DashClock Widget        4.0
404                          Couple - Relationship App        4.0
220                     Best Fiends - Free Puzzle Game        4.0
320  CallApp: Caller ID, Blocker & Phone Call Recorder        4.0
497  Drawing for Kids Learning Games for Toddlers a...        4.0
496                            Draw a Stickman: EPIC 2        4.0
316                     Calendar+ Schedule Planner App        4.0

In [15]:
after_editing.sort_values(by='Sentiment')[:10]

                                App  Sentiment
493                 Draw A Stickman  -4.000000
495                  Draw Your Game  -4.000000
494                         Draw In  -4.000000
467                 Discover Mobile  -4.000000
665       Free Live Talk-Video Call  -4.000000
424                DEER HUNTER 2018  -4.000000
319  Call of Duty:Black Ops Zombies  -4.000000
679     Fruit Block - Puzzle Legend  -4.000000
757              Google Street View  -3.000000
837    Hitwe - meet people and chat  -2.222222

In [16]:
df.head()

                     App  Sentiment
0  10 Best Foods for You          4
1  10 Best Foods for You          4
3  10 Best Foods for You          4
4  10 Best Foods for You          4
5  10 Best Foods for You          4

In [17]:
df = pd.read_csv("googleplaystore.csv")

In [18]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.00,Everyone,Art & Design,07-Jan-18,1.00.00,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.00,Everyone,Art & Design;Pretend Play,15-Jan-18,2.00.00,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.00,Everyone,Art & Design,01-Aug-18,1.02.04,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.00,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.00,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [19]:
len(df.App.unique())

9660

In [20]:
df[df.App == "Angry Birds Classic"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1680,Angry Birds Classic,GAME,4.4,5566669,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1740,Angry Birds Classic,GAME,4.4,5566805,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1905,Angry Birds Classic,GAME,4.4,5566889,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1990,Angry Birds Classic,GAME,4.4,5566908,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
3883,Angry Birds Classic,GAME,4.4,5565856,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up

In [21]:
df.drop_duplicates(inplace=True)

In [22]:
df[df.App == "Angry Birds Classic"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1680,Angry Birds Classic,GAME,4.4,5566669,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1740,Angry Birds Classic,GAME,4.4,5566805,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1905,Angry Birds Classic,GAME,4.4,5566889,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
1990,Angry Birds Classic,GAME,4.4,5566908,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up
3883,Angry Birds Classic,GAME,4.4,5565856,97M,"100,000,000+",Free,0.00,Everyone,Arcade,24-May-18,7.09.03,4.1 and up

In [23]:
len(df.App.unique())

9660

In [24]:
df.drop(columns=['Current Ver','Android Ver','Content Rating','Genres','Price'], inplace = True)

In [25]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,07-Jan-18
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,15-Jan-18
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,01-Aug-18
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,08-Jun-18
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,20-Jun-18

In [26]:
df.dropna(inplace= True)

In [27]:
len(after_editing
   )

865

In [28]:
df['Sentiment'] = np.NaN  #created a field called sentiment with initial value not a number(NaN)

In [29]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
2664,Amazon Shopping,SHOPPING,4.3,909226,42M,"100,000,000+",Free,31-Jul-18,NaN
1353,Best Ovulation Tracker Fertility Calendar App ...,HEALTH_AND_FITNESS,4.6,56145,23M,"1,000,000+",Free,01-Aug-18,NaN
7830,Counter Terrorist Gun Strike CS: Special Forces,GAME,4.2,211,44M,"10,000+",Free,18-Aug-17,NaN
5321,Al Quran (Tafsir & by Word),BOOKS_AND_REFERENCE,4.8,57400,14M,"500,000+",Free,30-Jul-18,NaN
585,Sweet mi - unlimited hunnam hunting blind date,DATING,4.0,6191,27M,"500,000+",Free,12-Jul-18,NaN
9690,Out There Chronicles - Ep. 1,FAMILY,4.4,1516,44M,"50,000+",Paid,27-Nov-17,NaN
8753,IHOP®,FOOD_AND_DRINK,4.2,441,24M,"100,000+",Free,03-Apr-18,NaN
7956,CV EXAMPLES,BUSINESS,4.1,423,20M,"100,000+",Free,07-Jun-18,NaN
6015,Comics Reader,COMICS,3.9,4496,609k,"100,000+",Free,29-Oct-17,NaN
3954,B-BLE(BLE4.0 Scan),TOOLS,3.8,159,7.5M,"10,000+",Free,20-Apr-18,NaN

In [30]:
x = list(after_editing.App)
for i in range(len(df)):
    check = df.iloc[i,0]
    if check in x:
        df.iloc[i,-1] = int(after_editing[after_editing.App == check].Sentiment)

In [31]:
after_editing[after_editing.App == '10 Best Foods for You']

                     App  Sentiment
0  10 Best Foods for You   3.134021

In [32]:
df.drop(columns='Category',inplace=True)

In [33]:
df.drop_duplicates(inplace=True)

In [34]:
df.drop_duplicates(subset=['App'],inplace=True)

In [35]:
df.sample(10)

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
9788,ES Disk Analyzer - Storage Space,4.7,5867,4.4M,"100,000+",Free,31-Oct-17,NaN
8407,Bike Mayhem Free,4.3,331692,Varies with device,"10,000,000+",Free,27-Mar-18,NaN
5108,Lakeside AG Moultrie,5.0,3,8.6M,50+,Free,23-May-17,NaN
2978,MARCA - Sports Leader Diary,3.9,76346,14M,"5,000,000+",Free,25-Jul-18,NaN
4955,MyRadar NOAA Weather Radar Ad Free,4.5,3005,26M,"10,000+",Paid,04-Aug-18,NaN
5879,Long Realty AZ Home Search,4.4,132,33M,"10,000+",Free,06-Mar-18,NaN
10340,Note FE Theme And Launcher For Samsung Galaxy,4.4,7,9.8M,"1,000+",Free,28-Aug-17,NaN
4358,m>notes notepad,4.3,184,Varies with device,"1,000+",Paid,04-Dec-15,NaN
5996,Railroad Radio Vancouver BC,5.0,4,1.7M,100+,Free,28-Jun-15,NaN
3143,PagesJaunes - local search,3.8,43935,Varies with device,"10,000,000+",Free,01-Aug-18,NaN

In [36]:
df[df.App=="8 Ball Pool"]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1675,8 Ball Pool,4.5,14198297,52M,"100,000,000+",Free,31-Jul-18,0.0

In [37]:
df[df.App=="ROBLOX"]

         App  Rating  Reviews Size      Installs  Type Last Updated  Sentiment
1653  ROBLOX     4.5  4447388  67M  100,000,000+  Free    31-Jul-18        NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8197 entries, 0 to 10840
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           8197 non-null   object
 1   Rating        8197 non-null   float64
 2   Reviews       8197 non-null   object
 3   Size          8197 non-null   object
 4   Installs      8197 non-null   object
 5   Type          8197 non-null   object
 6   Last Updated  8197 non-null   object
 7   Sentiment     816 non-null    float64
dtypes: float64(2), object(6)
memory usage: 384.2+ KB

In [39]:
df = df[np.isfinite(df['Sentiment'])]

In [40]:
df.sort_values(by='Rating')

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
2487,Anthem BC Anywhere,2.6,496,24M,"100,000+",Free,27-Jul-18,0.0
2317,Anthem Anywhere,2.7,2657,24M,"500,000+",Free,27-Jul-18,0.0
2337,Delta Dental,3.0,914,Varies with device,"100,000+",Free,17-Jul-18,-1.0
915,Acorn TV: World-class TV from Britain and Beyond,3.0,493,23M,"50,000+",Free,15-Jun-18,1.0
3483,HTC Mail,3.1,6572,Varies with device,"10,000,000+",Free,29-May-18,1.0
...,...,...,...,...,...,...,...,...
2081,Fuzzy Seasons: Animal Forest,4.8,12137,63M,"100,000+",Free,06-Aug-18,2.0
1256,Home Workout - No Equipment,4.8,428156,15M,"10,000,000+",Free,28-Jun-18,3.0
64,DMV Permit Practice Test 2018 Edition,4.9,6090,27M,"100,000+",Free,03-Jul-18,3.0
61,CDL Practice Test 2018 Edition,4.9,7774,17M,"100,000+",Free,03-Jul-18,3.0
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0

In [41]:
df.sort_values(by='Sentiment',ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0
3300,Calculator Plus Free,4.6,679912,Varies with device,"10,000,000+",Free,27-Jul-18,4.0
2067,Baby Panda’s Juice Shop,4.5,19230,45M,"5,000,000+",Free,12-Jul-18,4.0
3114,Google Trips - Travel Planner,4.1,26871,Varies with device,"5,000,000+",Free,26-Jul-18,4.0
3534,Google Slides,4.2,244567,Varies with device,"100,000,000+",Free,06-Aug-18,4.0

In [42]:
df[~df.Sentiment.isna()].sort_values(by='Sentiment')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
692,Free Live Talk-Video Call,4.7,158,4.5M,"10,000+",Free,05-Jul-18,-4.0
1777,Draw In,4.2,46416,73M,"10,000,000+",Free,23-Jul-18,-4.0
1837,Call of Duty:Black Ops Zombies,4.2,13004,46M,"100,000+",Paid,20-Dec-16,-4.0
3938,Draw A Stickman,3.4,29265,17M,"1,000,000+",Free,19-May-17,-4.0
1994,Fruit Block - Puzzle Legend,4.6,125647,33M,"10,000,000+",Free,23-Jul-18,-4.0

In [43]:
#df.drop(columns=['Reviews','Size','Installs','Type','Last Updated'], inplace = True)

In [44]:
df.head()

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1,Coloring book moana,3.9,967,14M,"500,000+",Free,15-Jan-18,1.0
8,Garden Coloring Book,4.4,13791,33M,"1,000,000+",Free,20-Sep-17,2.0
18,FlipaClip - Cartoon animation,4.3,194216,39M,"5,000,000+",Free,03-Aug-18,4.0
21,Boys Photo Editor - Six Pack & Men's Suit,4.1,654,12M,"100,000+",Free,20-Mar-18,1.0
26,Colorfit - Drawing & Coloring,4.7,20260,25M,"500,000+",Free,11-Oct-17,2.0

In [46]:
df['mean'] = df.mean(axis=1)

C:\Users\Vamsi Sai\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [47]:
df.sort_values(by='Sentiment',ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,mean
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0,4.45
3300,Calculator Plus Free,4.6,679912,Varies with device,"10,000,000+",Free,27-Jul-18,4.0,4.30
2067,Baby Panda’s Juice Shop,4.5,19230,45M,"5,000,000+",Free,12-Jul-18,4.0,4.25
3114,Google Trips - Travel Planner,4.1,26871,Varies with device,"5,000,000+",Free,26-Jul-18,4.0,4.05
3534,Google Slides,4.2,244567,Varies with device,"100,000,000+",Free,06-Aug-18,4.0,4.10

In [48]:
df.sort_values(by='Sentiment')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,mean
692,Free Live Talk-Video Call,4.7,158,4.5M,"10,000+",Free,05-Jul-18,-4.0,0.35
1777,Draw In,4.2,46416,73M,"10,000,000+",Free,23-Jul-18,-4.0,0.10
1837,Call of Duty:Black Ops Zombies,4.2,13004,46M,"100,000+",Paid,20-Dec-16,-4.0,0.10
3938,Draw A Stickman,3.4,29265,17M,"1,000,000+",Free,19-May-17,-4.0,-0.30
1994,Fruit Block - Puzzle Legend,4.6,125647,33M,"10,000,000+",Free,23-Jul-18,-4.0,0.30

In [49]:
df.sort_values(by='Rating')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,mean
2487,Anthem BC Anywhere,2.6,496,24M,"100,000+",Free,27-Jul-18,0.0,1.30
2317,Anthem Anywhere,2.7,2657,24M,"500,000+",Free,27-Jul-18,0.0,1.35
2337,Delta Dental,3.0,914,Varies with device,"100,000+",Free,17-Jul-18,-1.0,1.00
915,Acorn TV: World-class TV from Britain and Beyond,3.0,493,23M,"50,000+",Free,15-Jun-18,1.0,2.00
3483,HTC Mail,3.1,6572,Varies with device,"10,000,000+",Free,29-May-18,1.0,2.05

In [50]:
df.sort_values(by='Sentiment', ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,mean
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0,4.45
3300,Calculator Plus Free,4.6,679912,Varies with device,"10,000,000+",Free,27-Jul-18,4.0,4.30
2067,Baby Panda’s Juice Shop,4.5,19230,45M,"5,000,000+",Free,12-Jul-18,4.0,4.25
3114,Google Trips - Travel Planner,4.1,26871,Varies with device,"5,000,000+",Free,26-Jul-18,4.0,4.05
3534,Google Slides,4.2,244567,Varies with device,"100,000,000+",Free,06-Aug-18,4.0,4.10

In [51]:
df = df.rename(columns={'mean': 'Overall Rating'})

In [52]:
df.sort_values(by='Sentiment',ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0,4.45
3300,Calculator Plus Free,4.6,679912,Varies with device,"10,000,000+",Free,27-Jul-18,4.0,4.30
2067,Baby Panda’s Juice Shop,4.5,19230,45M,"5,000,000+",Free,12-Jul-18,4.0,4.25
3114,Google Trips - Travel Planner,4.1,26871,Varies with device,"5,000,000+",Free,26-Jul-18,4.0,4.05
3534,Google Slides,4.2,244567,Varies with device,"100,000,000+",Free,06-Aug-18,4.0,4.10

In [53]:
df.sort_values(by='Sentiment')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
692,Free Live Talk-Video Call,4.7,158,4.5M,"10,000+",Free,05-Jul-18,-4.0,0.35
1777,Draw In,4.2,46416,73M,"10,000,000+",Free,23-Jul-18,-4.0,0.10
1837,Call of Duty:Black Ops Zombies,4.2,13004,46M,"100,000+",Paid,20-Dec-16,-4.0,0.10
3938,Draw A Stickman,3.4,29265,17M,"1,000,000+",Free,19-May-17,-4.0,-0.30
1994,Fruit Block - Puzzle Legend,4.6,125647,33M,"10,000,000+",Free,23-Jul-18,-4.0,0.30

In [54]:
df.sort_values(by='Rating', ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
64,DMV Permit Practice Test 2018 Edition,4.9,6090,27M,"100,000+",Free,03-Jul-18,3.0,3.95
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,17-May-18,4.0,4.45
61,CDL Practice Test 2018 Edition,4.9,7774,17M,"100,000+",Free,03-Jul-18,3.0,3.95
1268,Home Workout for Men - Bodybuilding,4.8,12705,15M,"1,000,000+",Free,10-Jul-18,3.0,3.90
2803,FreePrints – Free Photos Delivered,4.8,109500,37M,"1,000,000+",Free,02-Aug-18,3.0,3.90

In [55]:
df.sort_values(by='Rating')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
2487,Anthem BC Anywhere,2.6,496,24M,"100,000+",Free,27-Jul-18,0.0,1.30
2317,Anthem Anywhere,2.7,2657,24M,"500,000+",Free,27-Jul-18,0.0,1.35
2337,Delta Dental,3.0,914,Varies with device,"100,000+",Free,17-Jul-18,-1.0,1.00
915,Acorn TV: World-class TV from Britain and Beyond,3.0,493,23M,"50,000+",Free,15-Jun-18,1.0,2.00
3483,HTC Mail,3.1,6572,Varies with device,"10,000,000+",Free,29-May-18,1.0,2.05

In [56]:
df.head()

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
1,Coloring book moana,3.9,967,14M,"500,000+",Free,15-Jan-18,1.0,2.45
8,Garden Coloring Book,4.4,13791,33M,"1,000,000+",Free,20-Sep-17,2.0,3.20
18,FlipaClip - Cartoon animation,4.3,194216,39M,"5,000,000+",Free,03-Aug-18,4.0,4.15
21,Boys Photo Editor - Six Pack & Men's Suit,4.1,654,12M,"100,000+",Free,20-Mar-18,1.0,2.55
26,Colorfit - Drawing & Coloring,4.7,20260,25M,"500,000+",Free,11-Oct-17,2.0,3.35

In [57]:
df.sample(5)

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
1807,Disney Heroes: Battle Mode,4.6,102107,Varies with device,"5,000,000+",Free,31-Jul-18,0.0,2.30
3364,Funny Alarm Clock Ringtones,4.5,15633,14M,"1,000,000+",Free,09-Mar-17,1.0,2.75
901,Harkins Theatres,4.3,1511,12M,"100,000+",Free,11-Jun-18,1.0,2.65
2620,Frontback - Social Photos,3.8,19446,Varies with device,"1,000,000+",Free,01-Dec-17,1.0,2.40
3418,Galactic Core Free Wallpaper,4.1,69417,853k,"10,000,000+",Free,01-May-14,2.0,3.05

In [58]:
#TO INCLUDE SENTIMENT

In [59]:
google_apps = df

In [60]:
google_apps.head()

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
1,Coloring book moana,3.9,967,14M,"500,000+",Free,15-Jan-18,1.0,2.45
8,Garden Coloring Book,4.4,13791,33M,"1,000,000+",Free,20-Sep-17,2.0,3.20
18,FlipaClip - Cartoon animation,4.3,194216,39M,"5,000,000+",Free,03-Aug-18,4.0,4.15
21,Boys Photo Editor - Six Pack & Men's Suit,4.1,654,12M,"100,000+",Free,20-Mar-18,1.0,2.55
26,Colorfit - Drawing & Coloring,4.7,20260,25M,"500,000+",Free,11-Oct-17,2.0,3.35

In [61]:
#DATA CLEANING

#total number of unique apps in dataset
no_of_apps = google_apps["App"].nunique()
print(f"Number of unique apps: {no_of_apps}")

#remove all duplicate rows corresponding to app column
google_apps.drop_duplicates(subset=['App'], keep=False)
google_apps

#delete unnecesaary rows creating issues in modelling
#google_apps = google_apps.drop([10472])

#conversion of size column to a convinient format
google_apps["Size"] = google_apps["Size"].apply(lambda x: str(x).replace(",", "") if "," in str(x) else x)
google_apps["Size"] = google_apps["Size"].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
google_apps["Size"] = google_apps["Size"].apply(lambda x: str(x).replace("Varies with device", "NAN") if "Varies with device" in str(x) else x)
google_apps["Size"] = google_apps["Size"].apply(lambda x: float(str(x).replace('k', '')) / 1024 if 'k' in str(x) else x)
google_apps["Size"] = google_apps["Size"].apply(lambda x:x.replace("+","")if "+" in str(x) else x)

#convert size to float and replace 'NAN' in size column with mean of the column
google_apps["Size"] = google_apps["Size"].apply(lambda x:float(x))
google_apps["Size"].fillna((google_apps["Size"].mean()), inplace=True)


#Install column with '+', ',' signs are removed to help easy computation
google_apps["Installs"] = google_apps["Installs"].apply(lambda x:x.replace("+","")if "+" in str(x) else x)
google_apps["Installs"] = google_apps["Installs"].apply(lambda x: x.replace(",","") if "," in str(x) else x)
google_apps["Installs"] = google_apps["Installs"].apply(lambda x:float(x))



#Converting Type column to 1 (for paid) and 0 (for free) apps
def type_cat(types):
    if types == 'Free':
        return 0
    else:
        return 1
google_apps['Type'] = google_apps['Type'].map(type_cat)
    
google_apps["Reviews"] = google_apps["Reviews"].astype("int64")

Number of unique apps: 816

In [62]:
google_apps.head()

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment,Overall Rating
1,Coloring book moana,3.9,967,14.0,500000.0,0,15-Jan-18,1.0,2.45
8,Garden Coloring Book,4.4,13791,33.0,1000000.0,0,20-Sep-17,2.0,3.20
18,FlipaClip - Cartoon animation,4.3,194216,39.0,5000000.0,0,03-Aug-18,4.0,4.15
21,Boys Photo Editor - Six Pack & Men's Suit,4.1,654,12.0,100000.0,0,20-Mar-18,1.0,2.55
26,Colorfit - Drawing & Coloring,4.7,20260,25.0,500000.0,0,11-Oct-17,2.0,3.35

In [63]:
google_apps_copy = google_apps.copy()

In [64]:
google_apps_copy = google_apps_copy.drop(["App","Last Updated"],axis=1)

In [65]:
google_apps_copy.to_csv("result_play_store.csv", encoding='utf-8', index=False)

In [66]:
print("There are {} total rows.".format(google_apps_copy.shape[0]))
count_popular = google_apps_copy[google_apps_copy["Installs"] > 100000].count()

print("{} have High Install popularity !".format(count_popular[0]))
print("{} have Low Install popularity !\n".format((google_apps_copy.shape[0]-count_popular)[0]))

#print("For an 80-20 training/test split, we need about {} apps for testing\n".format(google_apps_copy.shape[0]*.20))

google_apps_copy["Installs"] = (google_apps_copy["Installs"] > 100000)*1 #Installs Binarized

#print("Cut {} apps off Popular ones for a total of 3558 Popular training apps.".format(int(4568*.22132)))
#print("Cut {} apps off Unpopular ones for a total of 3558 Unpopular training apps.\n".format(int(4324*.17738)))

There are 816 total rows.
685 have High Install popularity !
131 have Low Install popularity !

In [67]:
testing_popular1 = google_apps_copy[google_apps_copy["Installs"] == 1].sample(82,random_state=0)
google_apps_copy = google_apps_copy.drop(testing_popular1.index)
#print("Values were not dropped from training dataframe.",testing_popular1.index[0] in google_apps_copy.index)

testing_popular0 = google_apps_copy[google_apps_copy["Installs"] == 0].sample(57,random_state=0)
google_apps_copy = google_apps_copy.drop(testing_popular0.index)
#print("Values were not dropped from training dataframe.",testing_popular0.index[0] in google_apps_copy.index)

In [68]:
train_google_apps = google_apps_copy
test_google_apps = testing_popular1.append(testing_popular0)

#Shuffle rows in test & training data set
test_google_apps = test_google_apps.sample(frac=1, random_state=0).reset_index(drop=True)
test_google_apps = test_google_apps.sample(frac=1, random_state=0).reset_index(drop=True)

In [69]:
#Form training and test data split
y_train = train_google_apps.pop("Installs")
X_train = train_google_apps.copy()
y_test = test_google_apps.pop("Installs")
X_test = test_google_apps.copy()

In [70]:
print("{} apps are used for Training.".format(y_train.count()))
print("{} apps are used for Testing.".format(y_test.count()))
X_test.head()

677 apps are used for Training.
139 apps are used for Testing.

   Rating   Reviews       Size  Type  Sentiment  Overall Rating
0     4.1      2828   7.400000     0        1.0            2.55
1     4.7      2543   6.300000     0        1.0            2.85
2     4.5      2150  20.000000     0        0.0            2.25
3     4.3       348  38.000000     0        2.0            3.15
4     4.5  10858556  25.458203     0        2.0            3.25

In [71]:
import os
import csv
import random
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [72]:
#DECISION TREE

classify_DT = DecisionTreeClassifier(max_leaf_nodes = 29, random_state = 0) #max_leaf_nodes signifies no. of nodes
classify_DT.fit(X_train, y_train)
predict_popular_DT = classify_DT.predict(X_test)
print("Predicted: ",predict_popular_DT[:30])
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

In [73]:
#RANDOM FOREST

classify_RF = RandomForestRegressor(n_estimators = 100 , random_state = 0)   #n_estimators is no of trees in forest
classify_RF.fit(X_train , y_train)
predict_popular_RF = classify_RF.predict(X_test)
print("Predicted: ",predict_popular_RF[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [0 0 0 0 1 0 1 0 1 0 1 0 1 1 1 1 0 0 0 1 1 1 0 0 0 0 1 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

In [74]:
classify_LR1 = LinearRegression()
classify_LR1.fit(X_train , y_train)
predict_popular_LR1 = classify_LR1.predict(X_test)
print("Predicted: ",predict_popular_LR1[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

In [75]:
acc_LR1 = accuracy_score(y_true = y_test, y_pred = predict_popular_LR1.astype("int64"))
print("Accuracy of Decision Tree : ", (acc_LR1*100))

def Evaluationmatrix_LR1(y_test, y_pred):
    print ('Mean Squared Error: '+ str(metrics.mean_squared_error(y_test,y_pred)))
    print ('Mean absolute Error: '+ str(metrics.mean_absolute_error(y_test,y_pred)))

Evaluationmatrix_LR1(y_test,predict_popular_LR1)

print('R square value : ',r2_score(y_test, predict_popular_LR1))

Accuracy of Decision Tree :  43.884892086330936
Mean Squared Error: 0.323195982281117
Mean absolute Error: 0.4141704846458042
R square value :  -0.3360011924804154

In [76]:
#LOGISTIC REGRESSION

classify_LR = LogisticRegression(C=1e5, solver='lbfgs', multi_class='multinomial')
classify_LR.fit(X_train , y_train)
predict_popular_LR = classify_LR.predict(X_test)
print("Predicted: ",predict_popular_LR[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

In [77]:
#NAIVE BAYES

classify_NB = GaussianNB()
classify_NB.fit(X_train, y_train)
predict_popular_NB = classify_NB.predict(X_test)
print("Predicted: ",predict_popular_NB[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [0 0 0 0 1 0 1 0 1 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 0 0 1 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

In [78]:
#K NEAREST NEIGHBORS

classify_KNN = KNeighborsClassifier(n_neighbors=15)
classify_KNN.fit(X_train, y_train)
predict_popular_KNN = classify_KNN.predict(X_test)
print("Predicted: ",predict_popular_KNN[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

C:\Users\Vamsi Sai\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [79]:
#Artificial Neural Network

classify_ANN = MLPClassifier(solver='lbfgs', alpha=0.5, hidden_layer_sizes=(5, 3), random_state=0)
classify_ANN.fit(X_train, y_train)
predict_popular_ANN = classify_ANN.predict(X_test)
print("Predicted: ",predict_popular_ANN[:30].astype("int64"))
print("Actual:    ",np.array(y_test[:30]))

Predicted:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Actual:     [0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0]

C:\Users\Vamsi Sai\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [80]:
acc_DT = accuracy_score(y_true = y_test, y_pred = predict_popular_DT)
print("Accuracy of Decision Tree :", (acc_DT*100).astype("int64"),"%")

Accuracy of Decision Tree : 82 %

In [81]:
acc_RF = accuracy_score(y_true = y_test, y_pred = predict_popular_RF.astype("int64"))
print("Accuracy of Random Forest : ", (acc_RF*100).astype("int64"),"%")

Accuracy of Random Forest :  89 %

In [82]:
acc_LR = accuracy_score(y_true = y_test, y_pred = predict_popular_LR.astype("int64"))
print("Accuracy of Linear Regression : ", (acc_LR*100).astype("int64").astype("int64"),"%")

Accuracy of Linear Regression :  87 %

In [83]:
acc_NB = accuracy_score(y_true = y_test, y_pred = predict_popular_NB.astype("int64"))
print("Accuracy of Naive Bayes : ", (acc_NB*100).astype("int64"),"%")

Accuracy of Naive Bayes :  87 %

In [84]:
acc_KNN = accuracy_score(y_true = y_test, y_pred = predict_popular_KNN.astype("int64"))
print("Accuracy of K NEAREST NEIGHBOR : ", (acc_KNN*100).astype("int64"),"%")

Accuracy of K NEAREST NEIGHBOR :  83 %

In [85]:
X_testCopy = X_test.copy()
X_testCopy["Popular"] = y_test
X_testCopy[X_test["Size"] == 21.516165].head()
#X_testCopy.to_csv("Test.csv", encoding='utf-8', index=False)

Empty DataFrame
Columns: [Rating, Reviews, Size, Type, Sentiment, Overall Rating, Popular]
Index: []

In [86]:
X_testCopy.sort_values(by='Popular').sample(10)

     Rating  Reviews       Size  Type  Sentiment  Overall Rating  Popular
112     4.5  1468591  25.458203     0        0.0            2.25        1
17      4.5      418   4.200000     0        2.0            3.25        0
0       4.1     2828   7.400000     0        1.0            2.55        0
127     4.6  1873516  25.458203     0        1.0            2.80        1
31      3.7     4253   4.100000     0        1.0            2.35        0
84      2.6      496  24.000000     0        0.0            1.30        0
90      4.1     2212  41.000000     0        1.0            2.55        0
93      4.7     3596   7.800000     0        2.0            3.35        0
52      4.5   103755  14.000000     0        3.0            3.75        1
126     4.2    28806   7.100000     0        2.0            3.10        1